/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
:root{
  --pre-bg: #0C1622;
  --secondary-color: #E2E8F0;
  --light-slate: #a8b2d1;
  --light: #b5bdd6;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --green: #64ffda;
  --main-bg: #0F172A;
  --card-bg: #060E20;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  background:var(--main-bg);
  width: 5px;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #222b38ad; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292e3a; 
}